.cabecera{
    height: 80px;
    background-color: chartreuse;
}

.contenedor{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 80px);
    background-color: red;
}

.carrusel{
    width: 700px;
    height: 500px;
    background-color: white;
}

.cont{
    position: absolute;
    width: 700px;
    height: 500px;
    
}

.cont1{
    background: url("1.jpg");
    background-size: cover;
    background-position: center;
    z-index: 10;
}
.cont2{
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
}

.accion{
    border-radius: 100%;
    filter: invert();
    height: 40px;
}

.accion:hover{
    background-color: purple;
}

.points{
    position:absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    z-index: 30;
}
.point{
    width: 15px;
    height: 15px;
    border: solid 2px greenyellow;
    border-radius: 100%;
}
